[submodule "notebooks"]
	path = notebooks
	url = https://github.com/Soldatov-Lab/gatac-notebooks.git
[submodule "reproducibility"]
	path = reproducibility
	url = https://github.com/Soldatov-Lab/gatac-reproducibilty.git
